#image-slider{
    padding-left: 0px;
    padding-right: 0px;
}
.card {
    margin-top: 20px;
}
image{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
h5{
    color: darkgreen;
    font-size:x-large;

}
p{
    color: black;
}